<div class="container">
  <div [hidden]="submitted">
    <h1>To request a tutor, please fill out the fields below.</h1>
    <form (ngSubmit)="onSubmit()" #requestForm="ngForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" placeholder="ex: John" required [(ngModel)]="model.name" name="name" #name="ngModel">
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
          Name is required
        </div>
      </div>

      <div class="form-group">
        <label for="subject">Class</label>
        <input type="text" class="form-control" id="subject" placeholder="ex: MAT 170" required [(ngModel)]="model.subject" name="subject" #subject="ngModel">
        <div [hidden]="subject.valid || subject.pristine" class="alert alert-danger">
          Subject is required
        </div>
      </div>

      <div class="form-group">
        <label for="concept">Description of Concept or Problem</label>
        <input type="text" class="form-control" id="subject" placeholder="ex: Natural Logarithm" required [(ngModel)]="model.concept" name="concept" #concept="ngModel">
        <div [hidden]="concept.valid || concept.pristine" class="alert alert-danger">
          Description is required
        </div>
      </div>

      <div class="form-group">
        <label for="table">Table</label>
        <select class="form-control" id="table" required [(ngModel)]="model.table" name="table" #form="ngModel">
          <option *ngFor="let pow of tables" [value]="pow">{{pow}}</option>
        </select>
        <div [hidden]="form.valid || form.pristine" class="alert alert-danger">
          Table is required
        </div>
      </div>

      <button type="submit" class="btn btn-success" [disabled]="!requestForm.form.valid">Submit</button>
    </form>
  </div>

  <div [hidden]="!submitted">
    <div [@fade]="submitted ? 'opaque' : 'transparent'" class="open-close-container">
      <h1>Thank you for submitting a request, {{ model.name }}!</h1>
    </div>
    <div [@longFade]="submitted ? 'opaque' : 'transparent'" class="open-close-container">
      <h2>Please sit down at {{ model.table }}. A tutor will be with you shortly.</h2>
      <h3>You submitted the following:</h3>
      <div class="row">
        <div class="col-xs-3">Name</div>
        <div class="col-xs-9">{{ model.name }}</div>
      </div>
      <div class="row">
        <div class="col-xs-3">Class</div>
        <div class="col-xs-9">{{ model.subject }}</div>
      </div>
      <div class="row">
        <div class="col-xs-3">Description</div>
        <div class="col-xs-9">{{ model.concept }}</div>
      </div>
      <div class="row">
        <div class="col-xs-3">Table</div>
        <div class="col-xs-9">{{ model.table }}</div>
      </div>
      <br>
      <button type="reset" class="btn btn-success" (click)="submitted=false">Done ({{count}})</button>
      <button class="btn btn-default" (click)="submitted=false">Edit</button>
      <button class="btn btn-warning" (click)="submitted=false">Unsubmit</button>
    </div>
  </div>
</div>
